.validation{
    margin: 200px auto;
    font-size: 1rem;
    color: var(--accent-color);
}

.form{
    gap: 20px;
}

.title{
    font-size: 2rem;
    font-weight: 900;
    text-decoration: underline;
    margin: 20px;
}

.validation input{
    width: 100%;
    height: 20px;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    padding: 8px;
    font-size: 1rem;
}

.input_site{
    width: 60%;
    gap: 5px;
}

::placeholder{
    opacity: 0.5;
}

.validation button{
    width: 260px;
    height: 60px;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
}
